.body-content{
    display: grid;
    column-gap: 2%;
    row-gap: 90px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 110px;
    margin-left: 200px;
}
.vedio-preview{
  display: flex;
  flex-direction: column;
}
  .thumbnail{
    width:100%;
    object-fit:contain;
    border-radius: 10px;
  
  }
  .inner-grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 80px 1fr;
  }
  
  .author-profile{
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }
  
  p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  }
  .vedio-title{
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 8px;
  }
  .vedio-author{
    color: rgb(180, 180, 180);
    margin-bottom: 5px;
  }
  .vedio-stats{
    color: rgb(180,180,180);
  }